{% extends '::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('contract_index') }}">
            {% trans %}Contract list{% endtrans %}
        </a>
    </li>
{% endblock %}