{% extends '::base.html.twig' %}

{% block title %}{% trans %}Contract list{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {% trans %}Contract list{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    <h1>{% trans %}Contract list{% endtrans %}</h1>

    {% include 'AcquisitionBundle:Contract:_list.html.twig' %}
{% endblock %}
