{% extends 'CrmpCrmBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('crmp_acquisition_inquiry_index') }}">
            {{ "crmp.acquisition.inquiry.plural"|trans }}
        </a>
    </li>
{% endblock %}