{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('inquiry_index') }}">
            {% trans %}Inquiry list{% endtrans %}
        </a>
    </li>
{% endblock %}