{% extends '::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('inquiry_index') }}">
            {{ "crmp.acquisition.inquiry.plural"|trans }}
        </a>
    </li>
{% endblock %}