{% extends '::base.html.twig' %}

{% block title %}{{ "crmp.acquisition.inquiry.plural"|trans }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ block('title') }}
    </li>
{% endblock %}


{% block body %}
    <h1>{{ block('title') }}</h1>

    {% include 'AcquisitionBundle:Inquiry:_list.html.twig' %}
{% endblock %}
