{% extends 'CrmpCrmBundle::base.html.twig' %}

{% block title %}{{ "crmp_acquisition.inquiry.plural"|trans }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ block('title') }}
    </li>
{% endblock %}


{% block body %}
    <h1>{{ block('title') }}</h1>

    {% include 'CrmpAcquisitionBundle:Inquiry:_list.html.twig' %}
{% endblock %}
