{% extends 'base.html.twig' %}

{% block title %}{% trans %}Inquiry list{% endtrans %}{% endblock %}

{% block related_nav %}
    {{ parent() }}
    <li>
        <a href="{{ path('inquiry_new') }}">
            <i class="fa fa-plus"></i>
            {% trans %}Inquiry creation{% endtrans %}
        </a>
    </li>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="/">
            Dashboard
        </a>
    </li>
    <li class="active">
        {% trans %}Inquiry list{% endtrans %}
    </li>
{% endblock %}


{% block body %}
    <h1>{% trans %}Inquiry list{% endtrans %}</h1>

    {% include 'AcquisitionBundle:Inquiry:_list.html.twig' %}
{% endblock %}
