{% extends '::base.html.twig' %}

{% block title %}{% trans %}Inquiry list{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {% trans %}Inquiry list{% endtrans %}
    </li>
{% endblock %}


{% block body %}
    <h1>{% trans %}Inquiry list{% endtrans %}</h1>

    {% include 'AcquisitionBundle:Inquiry:_list.html.twig' %}
{% endblock %}
