{% extends 'AcquisitionBundle:Inquiry:base.html.twig' %}

{% block title %}{% trans %}Inquiry creation{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {% trans %}Inquiry creation{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    <h1>
        {% trans %}Inquiry creation{% endtrans %}
    </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit"
                class="btn btn-primary">
            <i class="fa fa-floppy-o"></i>
            {% trans %}Create{% endtrans %}
        </button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker({
                dateFormat: '{% trans %}date_js{% endtrans %}'
            });
        });
    </script>
{% endblock %}