{% extends 'CrmpCrmBundle::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">
        Dashboard
    </li>
{% endblock %}

{% block body %}
    {{ crmp_panels(crmp_crm.container.get('crmp_crm.dashboard_panel')) }}
{% endblock %}