{% extends '::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">
        Dashboard
    </li>
{% endblock %}

{% block body %}
    {% trans %}Please choose something from the menu{% endtrans %}
{% endblock %}