{% extends "CrmpCrmBundle::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
{% endblock body %}
