{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-primary">
            {{ 'registration.submit'|trans }}
        </button>
    </div>
{{ form_end(form) }}
