{% extends "FOSUserBundle::layout.html.twig" %}

{% block related_nav %}
    <li>
        <a href="{{ path("fos_user_security_login") }}">
            <i class="fa fa-sign-in"></i>
            {{ 'Sign in'|trans }}
        </a>
    </li>
{% endblock related_nav %}


{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
