{% extends 'base.html.twig' %}

{% block title %}{% trans %}Offer list{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <li class="active">
            {% trans %}Offers{% endtrans %}
        </li>
    </ol>
{% endblock %}

{% block related_nav %}
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a href="{{ path('offer_new') }}" class="btn btn-success">
                <i class="fa fa-plus"></i>
                {% trans %}New offer{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <h1>{% trans %}Offers{% endtrans %}</h1>

    {% include 'offer/_list.html.twig' %}
{% endblock %}
