{% extends 'CrmpCrmBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('offer_index') }}">
            {{ "crmp.acquisition.offer.plural"|trans }}
        </a>
    </li>
{% endblock %}