{% extends 'base.html.twig' %}

{% block title %}{% trans %}Offer list{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {% trans %}Offers{% endtrans %}
    </li>
{% endblock %}

{% block related_nav %}
    {{ parent() }}
    <a href="{{ path('offer_new') }}">
        <i class="fa fa-plus"></i>
        {% trans %}New offer{% endtrans %}
    </a>
{% endblock %}

{% block body %}
    <h1>{% trans %}Offers{% endtrans %}</h1>

    {% include 'AcquisitionBundle:Offer:_list.html.twig' %}
{% endblock %}
