{% extends 'CrmpCrmBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('crmp_crm_address_index') }}">
            {{ "crmp_crm.address.singular"|trans }}
        </a>
    </li>
{% endblock %}