{% extends 'CrmpCrmBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('address_index') }}">
            {{ "crmp.crm.address.singular"|trans }}
        </a>
    </li>
{% endblock %}