{% extends 'CrmpCrmBundle::base.html.twig' %}

{% block title %}{{ "crmp_crm.address.list"|trans }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ "crmp_crm.address.singular"|trans }}
    </li>
{% endblock %}

{% block body %}
    <h1>{{ "crmp_crm.address.list"|trans }}</h1>

    {% include 'CrmpCrmBundle:Address:_list.html.twig' %}
{% endblock %}
