{% extends '::base.html.twig' %}

{% block title %}{{ "crmp.crm.address.list"|trans }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ "crmp.crm.address.singular"|trans }}
    </li>
{% endblock %}

{% block body %}
    <h1>{{ "crmp.crm.address.list"|trans }}</h1>

    {% include 'CrmBundle:Address:_list.html.twig' %}
{% endblock %}
