{% extends '::base.html.twig' %}

{% block title %}{% trans %}Address list{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {% trans %}Address list{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    <h1>Address list</h1>

    {% include 'CrmBundle:Address:_list.html.twig' %}
{% endblock %}
