{% extends '::base.html.twig' %}

{% block title %}{% trans %}Address list{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {% trans %}Address list{% endtrans %}
    </li>
{% endblock %}

{% block related_nav %}
    <li>
        <a href="{{ path('address_new') }}">
            <i class="fa fa-plus"></i>
            {% trans %}Address creation{% endtrans %}
        </a>
    </li>
{% endblock %}

{% block body %}
    <h1>Address list</h1>

    {% include 'CrmBundle:Address:_list.html.twig' %}
{% endblock %}
