{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('invoice_index') }}">
            Invoices
        </a>
    </li>
{% endblock %}

{% block related_nav %}
    {{ parent() }}
{% endblock %}