{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <li>
            <a href="{{ path('invoice_index') }}">
                {% trans %}Invoice list{% endtrans %}
            </a>
        </li>
    </ol>
{% endblock %}

{% block related_nav %}
{% endblock %}