{% extends 'CrmpCrmBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('crmp_accounting_invoice_index') }}">
            {{ "crmp_accounting.invoice.plural"|trans }}
        </a>
    </li>
{% endblock %}

{% block related_nav %}
    {{ parent() }}
{% endblock %}