{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('invoice_index') }}">
            Invoices
        </a>
    </li>
{% endblock %}

{% block related_nav %}
    {{ parent() }}
    <li>
        <a href="{{ path('invoice_index') }}">
            <i class="fa fa-list-ul"></i>
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
{% endblock %}