{% extends '@CrmpAccounting/Invoice/base.html.twig' %}

{% block title %}{{ "crmp_accounting.invoice.plural"|trans }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="/">
            Dashboard
        </a>
    </li>
    <li class="active">
        {{ block('title') }}
    </li>
{% endblock %}

{% block body %}
    {%  include '@CrmpAccounting/Invoice/_list.html.twig' %}
{% endblock %}
