{% extends '@CrmpAcc/Invoice/base.html.twig' %}

{% block title %}{% trans %}Invoice list{% endtrans %}{% endblock %}

{% block related_nav %}
    <li>
        <a href="{{ path('invoice_new') }}"
           title="Create a new entry">
            <i class="fa fa-plus"></i>
            New invoice
        </a>
    </li>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="/">
            Dashboard
        </a>
    </li>
    <li class="active">
        Invoices
    </li>
{% endblock %}

{% block body %}
    {%  include '@CrmpAcc/Invoice/_list.html.twig' %}
{% endblock %}
