{% extends '::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('customer_index') }}">
            {{ "crmp.crm.customer.singular"|trans }}
        </a>
    </li>
{% endblock %}

{% block related_nav %}
    {{ parent() }}
{% endblock %}