{% extends '::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('customer_index') }}">
            {% trans %}Customer list{% endtrans %}
        </a>
    </li>
{% endblock %}

{% block related_nav %}
    {{ parent() }}
{% endblock %}