{% extends 'CrmpCrmBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('crmp_crm_customer_index') }}">
            {{ "crmp_crm.customer.singular"|trans }}
        </a>
    </li>
{% endblock %}

{% block related_nav %}
    {{ parent() }}
{% endblock %}