{% extends 'CrmpCrmBundle:Customer:base.html.twig' %}

{% block title %}{{ "crmp_crm.customer.list"|trans }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="/">
            {{ "crmp.dashboard"|trans }}
        </a>
    </li>
    <li class="active">
        {{ "crmp_crm.customer.list"|trans }}
    </li>
{% endblock %}

{% block body %}
    <h2>{{ "crmp_crm.customer.list"|trans }}</h2>

    {% include 'CrmpCrmBundle:Customer:_list.html.twig' %}
{% endblock %}
