{% extends 'CrmBundle:Customer:base.html.twig' %}

{% block title %}{% trans %}Customer list{% endtrans %}{% endblock %}

{% block related_nav %}
    <li>
        <a href="{{ path('customer_new') }}"
           title="Create a new entry">
            <i class="fa fa-plus"></i>
            {% trans %}Customer creation{% endtrans %}
        </a>
    </li>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="/">
            {% trans %}Dashboard{% endtrans %}
        </a>
    </li>
    <li class="active">
        Customers
    </li>
{% endblock %}

{% block body %}
    <h2>{% trans %}Customer list{% endtrans %}</h2>

    {% include 'CrmBundle:Customer:_list.html.twig' %}
{% endblock %}
