{% extends 'CrmBundle:Customer:base.html.twig' %}

{% block title %}{% trans %}Customer list{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="/">
            {% trans %}Dashboard{% endtrans %}
        </a>
    </li>
    <li class="active">
        Customers
    </li>
{% endblock %}

{% block body %}
    <h2>{% trans %}Customer list{% endtrans %}</h2>

    {% include 'CrmBundle:Customer:_list.html.twig' %}
{% endblock %}
