<div class="panel panel-{{ panel.style }}">
	{% block heading %}
        <div class="panel-heading"><h3 class="panel-title">{{ panel.title|trans }}</h3></div>
    {% endblock %}

    {% block body %}
        {% if panel.body %}
            <div class="panel-body">
                {{ panel.body }}
            </div>
        {% endif %}
    {% endblock %}

    {% block information %}{% endblock %}

    <div class="panel-footer">
        {% block panel_footer %}{% endblock %}
    </div>
</div>