{% extends 'base.html.twig' %}

{% block title %}{% trans %}Inquiry list{% endtrans %}{% endblock %}

{% block related_nav %}
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a href="{{ path('inquiry_new') }}" class="btn btn-success">
                <i class="fa fa-plus"></i>
                New inquiry
            </a>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <li class="active">
            {% trans %}Inquiry list{% endtrans %}
        </li>
    </ol>
{% endblock %}


{% block body %}
    <h1>{% trans %}Inquiry list{% endtrans %}</h1>

    {% include 'inquiry/_list.html.twig' %}
{% endblock %}
