{% extends 'base.html.twig' %}

{% block body %}
    <h1>New inquiry</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit"
                class="btn btn-primary">
            <i class="fa fa-floppy-o"></i>
            Save
        </button>
    {{ form_end(form) }}

    <div class="well">
        <a href="{{ path('inquiry_index') }}" title="Back to the list"
                class="btn btn-default">
            <i class="fa fa-list-ul"></i>
        </a>

    </div>

{% endblock %}
