{% extends 'base.html.twig' %}

{% block related_nav %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('customer_index') }}">
                <i class="fa fa-list-ul"></i>
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <h1>Customer creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}
{% endblock %}
